{% extends 'base.html' %}



{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {{class_id}}

    <div class="container p-5 my-5 border  bg-dark text-white">
        <h4>Your classes:</h4>
        {% for class in classes %}
            
            <div class="list-group">
                <li class="list-group-item list-group-item-action selector" id="{{class.id}}"
                onclick="myFunction('{{class.id}}')">
      
                <div class="row">
                    <div class="col-md-2" >{{class.subject}} {{class.grade}}</div>
                    <div class="col-md-4">{{class.description}}</div>
                </div>
                
                </li>
            </div>
        {% endfor %}
    </div>
    <input type = "hidden" name = "classid" id="classid" value = "">
    <div class="container p-5 my-5 bg-secondary text-white">
        <div class="row">

            <div class="container mt-5 col">
                <h5>Add a new class to your list of classes</h5>
                <button type="submit" class="btn btn-warning" value="addclass", name="btnAdd">Add a Class</button>

            </div>

            <div class="container mt-5 col">
                <h5>First select a class from the list above.</h5>
                <button type="submit" class="btn btn-danger" name="btnDelete" id="btnDelete"
                value="Delete">Delete a Class</button>
            </div>

            
        </div>
    </div>
    

</form>
<script>
    function myFunction(id) {
        var ele = document.getElementById(id);
        if (ele.classList.contains('active')) 
        {
            ele.classList.remove('active');
            
        }
        else
        {
            var selectableItems = document.querySelectorAll('.selector');
            for (var i = 0; i < selectableItems.length; i++) 
            {
                
                selectableItems[i].classList.remove('active');
            }
            
            ele.classList.add('active');
        }
                 
        document.getElementById("classid").value = id;
    }
</script>



{% endblock %}