{% extends 'base.html' %}
 


{% block content %}

<form action="" method="post">
    {% csrf_token %}
   
    <!--List of selected learners-->
    <div class="container p-5 my-5 border  bg-dark text-white">
        <h2>{{objClass}} | {{objClass.description}} - Lesson: {{lessonnum}}</h2>
        <label  class="form-label">Absentees:</label>
         <ul class="list-group" id="dynamicList">
   
        {% for learner in absentees %}

                <li class="list-group-item list-group-item-action selector" id="listLearner" data-learner-id="{{learner.id}}">
                    <div class="row">
                        <div class="col-md-4">
                            {{learner.learner.name}} | {{learner.learner.reg_class}} 
                        </div>
                        <div class="col-md-3">
                            Lesson: {{learner.lesson_no}}
                        </div>
                    </div>
                </li>               
        {% endfor %}
         </ul>        
    </div>

    <!--Learner Select-->
    <div class="container p-5 my-5 bg-secondary text-white">
        <div class="row">
            <div class="col-md-6">
                <label for="absentStudentsInput" class="form-label">Choose a learner from the list:</label>
                <!--Enter learner name input-->
                <input type="text" id="absentStudentsInput" name="absentStudentsInput" class="form-control" placeholder="Enter absent students' names">
                <input type="hidden" id="absentStudentsInputId" name= "absentStudentsInputId">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-2">
                <!--Submit button-->
                <button type="submit" class="btn btn-warning mt-3" value="addabsentee", name="btnAddAbsentee">Add Learner</button>
            </div>
            <div class="col-md-2">
                <!--Done button-->
                <a href="{% url 'manage_absentees' %}" class="btn btn-success mt-3">Done</a>
            </div>               
        </div>
    </div>
</form>

<script>

// Autocomplete when user searches for learner
$(document).ready(function () {
      // Attach autocomplete functionality to the input field
    $('#absentStudentsInput').autocomplete({
        source: '/ajax/autocomplete/',  // URL to fetch autocomplete suggestions
        minLength: 2,  // Minimum characters before making a request

        select: function (event, ui) {
            // Set the selected value in the input field
            event.preventDefault();
            $(this).val(ui.item.label);
            
            // Access the primary key from the 'value' property in the ui.item object
            var selectedLearnerId = ui.item.value;
            //var selectedLearner = ui.item.label;
            // Set the value of the hidden input field with the learner ID
            $('#absentStudentsInputId').val(selectedLearnerId);
            //$('#absentStudentsInput').val(selectedLearner);
        }

    });
});

// Delete selected item from the list
$(document).ready(function() {
    var csrftoken = Cookies.get('csrftoken');
    $('#dynamicList').on('click', 'li', function() {
        // Extract learner name from the clicked list item
        var learnerName = $(this).text();

        // Extract learner ID from the data-learner-id attribute
        var learnerId = $(this).data('learner-id');
        var listItem = $(this);

        // Send AJAX request to the backend for item deletion
        $.ajax({
            url: '/ajax/delete_item/',  // Update the URL to match your actual endpoint
            method: 'POST',
            data: { learnerName: learnerName, learnerId: learnerId },
            headers: {'X-CSRFToken': csrftoken},
            success: function(response) {
                // Handle success if needed
                console.log(response);
                alert('Item deleted successfully!');
                // Optionally, remove the list item from the frontend upon successful deletion
                listItem.remove();
            },
            error: function(error) {
                console.error('Error:', error);
            }
        });
    });
});
</script>



{% endblock %}